.search-container {
  display: flex; 
  justify-content: center;
  align-items: center; 
  gap: 30px;
  margin-bottom: 20px; 
}

.search-bar {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #d1d5db;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
  outline: none;
  transition: border-color 0.3s;
}

.search-bar:focus {
  border-color: #1c64f2;
}

.search-button {
  background-color: #1c64f2;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
  flex-shrink: 0; 
}

.search-button:hover {
  background-color: #2a79f2;
}
